@import "../../assets/styles/mixin";

.category {
  .main {
    .breadcrumb {
      margin: .8rem 0;

      span {
        font-size: $font-size-small;
        display: inline-block;
        margin-right: .2rem;

        &.arrow, &.current {
          color: $color-text-l;
        }
      }
    }
  }
}
