@import "../../assets/styles/mixin";

.article-wrapper {
  margin: .8rem .2rem .8rem 0;

  .article-list {
    .item {
      position: relative;
      margin-bottom: .8rem;
      background-color: $color-background;
      @media (min-width: 992px) {
        padding-right: .4rem;
      }

      .mask {
        @include mask($bgCol: transparent);
        top: -.3rem;
        bottom: -.3rem;
        left: -.2rem;
        border-radius: $border-radius-small;
        transition: box-shadow .4s;
        z-index: 0;
      }

      .content {
        position: relative;
        z-index: 1;

        &::after {
          content: '';
          display: block;
          padding-top: 20%;
        }

        .image {
          position: absolute;
          top: 0;
          left: 0;
          width: 40%;
          height: 100%;
          background-color: $color-background-q;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          font-size: 0;
          border-radius: $border-radius-small;
          overflow: hidden;
          z-index: 1;
          @media (min-width: 992px) {
            width: 4.5rem;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }

        .info {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 43%;
          width: 100%;
          height: 100%;
          @media (min-width: 992px) {
            padding-left: 5rem;
          }

          .title {
            font-size: $font-size-medium;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @media (min-width: 992px) {
              font-size: $font-size-large;
              margin-top: .16rem;
            }
          }

          .description {
            display: none;
            color: $color-text-d;
            margin-top: .16rem;
            @media (min-width: 992px) {
              display: block;
            }
          }

          .bottom {
            font-size: $font-size-small;
            color: $color-text-l;
            position: absolute;
            left: 43%;
            right: 0;
            bottom: 0;
            @media (min-width: 992px) {
              left: 5rem;
              bottom: .16rem;
            }

            .category {
              @media (min-width: 992px) {
                color: $color-theme;
              }
            }

            .time {
              position: absolute;
              right: 0;

              .icon {
                width: 1rem;
              }
            }
          }
        }
      }

      &:hover {
        @media (min-width: 992px) {
          .mask {
            box-shadow: 0 0 20px 2px rgba($color-text-l, .3);
          }
        }
      }
    }
  }

  .loading {
    text-align: center;
    color: $color-theme;
    animation: rotate 1s infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  button {
    width: 100%;
    color: $color-text-d;
    border-radius: $border-radius-small;
    text-align: center;
    padding: .2rem .3rem;
  }

  .more {
    background-color: $color-background-q;
    cursor: pointer;
  }

  .no-more {
    background-color: transparent;
    color: $color-text-l;
  }
}

