@import "../../assets/styles/mixin";

.article-wrapper {
  margin: .4rem .2rem .4rem 0;
  @media (min-width: 992px) {
    margin: .8rem .2rem .8rem 0;
  }

  .article-list {
    .item {
      position: relative;
      margin-bottom: .4rem;
      margin-bottom: .4rem;
      background-color: $color-background;
      @media (min-width: 992px) {
        margin-bottom: .8rem;
        padding-right: .4rem;
      }

      .mask {
        @include mask($bgCol: transparent);
        top: -.3rem;
        bottom: -.3rem;
        left: -.2rem;
        border-radius: $border-radius-small;
        transition: box-shadow .4s;
        z-index: 0;
      }

      .content {
        position: relative;
        z-index: 1;

        .image-box {
          position: relative;
          width: 33.333333%;
          display: block;
        }

        .info {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 36%;
          width: 100%;
          height: 100%;

          .title {
            font-size: $font-size-medium;
            @media (min-width: 992px) {
              font-size: $font-size-large;
              margin-top: .16rem;
            }
          }

          .description {
            display: none;
            color: $color-text-d;
            margin-top: .16rem;
            @media (min-width: 992px) {
              display: -webkit-box;
            }
          }

          .bottom {
            font-size: $font-size-small;
            color: $color-text-l;
            position: absolute;
            left: 36%;
            right: 0;
            bottom: 0;
            @media (min-width: 992px) {
              bottom: .16rem;
            }

            .category {
              @media (min-width: 992px) {
                color: $color-theme;
              }
            }

            .time {
              position: absolute;
              right: 0;

              .icon {
                width: 1rem;
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        &:hover {
          .mask {
            box-shadow: 0 0 20px 2px rgba($color-text-l, .3);
          }
        }
      }
    }
  }

  .loading {
    text-align: center;
    color: $color-theme;
    animation: rotate 1s infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  button {
    width: 100%;
    color: $color-text-d;
    border-radius: $border-radius-small;
    text-align: center;
    padding: .2rem .3rem;
  }

  .more {
    background-color: $color-background-q;
    cursor: pointer;
  }

  .no-more {
    background-color: transparent;
    color: $color-text-l;
  }
}

