@import "../../assets/styles/mixin";

.home {
  .main {
    .banner {
      margin: .4rem 0;
      font-size: 0;
      border-radius: $border-radius-small;
      overflow: hidden;
      @media (min-width: 992px) {
        margin: .8rem 0;
      }

      .item {
        position: relative;

        &:after {
          content: '';
          display: block;
          padding-top: 66.66666%;
        }

        .text {
          position: absolute;
          bottom: 0;
          font-size: $font-size-medium;
          color: $color-background;
          padding: .4rem .2rem;
          background-image: linear-gradient(-180deg, transparent 13%, rgba($color-background-k, .65) 97%);
          width: 100%;
          @media (min-width: 992px) {
            padding: .6rem;
          }

          .title {
            font-size: $font-size-medium-x;
            margin-top: .2rem;
            @media (min-width: 992px) {
              font-size: $font-size-large-x;
            }
          }

          .category {
            display: none;

            span {
              display: inline-block;
              padding: .05rem .2rem;
              background-color: $color-theme-s;
              color: $color-background;
              margin-top: .2rem;
              border-radius: $border-radius-small;
            }

            @media (min-width: 992px) {
              display: block;
            }
          }
        }

        @media (min-width: 992px) {
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .switches {
      overflow-x: scroll;
      white-space: nowrap;
      padding: .2rem 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .switch {
        position: relative;
        display: inline-block;
        padding: .1rem .2rem;
        margin-right: .1rem;
        background-color: transparent;
        transition: all .3s;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          bottom: -.1rem;
          left: 50%;
          margin-left: -.1rem;
          border-top: .1rem solid transparent;
          border-left: .1rem solid transparent;
          border-right: .1rem solid transparent;
          transition: border .3s;
        }

        &.cur {
          background-color: $color-theme;
          color: $color-background;
          border-radius: $border-radius-small;

          &::after {
            border-top-color: $color-theme;
          }
        }
      }
    }
  }
}
