@import "./mixin";

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  font: $font-size-medium "PingFangSC-Regular", "Helvetica", "Arial", "Microsoft Yahei", sans-serif;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  background-color: $color-background;
  color: $color-text;
  width: 100%;
}

html {
  font-size: $html-size + px;
  font-size: $html-size / 3.75 + vw;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 .3rem;
}

@media (max-width: 320px) {
  html {
    font-size: $html-size * 320 / 375 + px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  html {
    font-size: $html-size * 540 / 375 + px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  html {
    font-size: $html-size + px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

a {
  transition: color .3s;
}

a:hover {
  color: $color-theme;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.slick-dots {
  bottom: .2rem;

  li {
    width: 30px;
    height: 4px;

    button {
      width: 0;
      height: 0;
      padding: 0;
      margin-right: 4px;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $color-background-dd;
      }
    }

    &.slick-active {
      button {
        &:before {
          background-color: $color-theme;
        }
      }
    }
  }
}

.slick-prev {
  left: 10px;
  z-index: 101;
}

.slick-next {
  right: 10px;
  z-index: 101;
}

.box-shadow {
  box-shadow: 0 0 20px -5px rgba($color-text-l, .2);
}

.mask {
  @include mask();
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .5s cubic-bezier(.25, .1, .25, .1);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity .5s cubic-bezier(.25, .1, .25, .1);
}

.main {
  float: left;
  width: 100%;
  padding: 0;
  @media (min-width: 992px) {
    width: 70%;
    padding-right: .2rem;
  }
}

pre {
  background-color: $color-background-q;
  padding: .2rem .4rem;
  margin-bottom: .4rem;
  border-radius: $border-radius-small;
}

code {
  display: block;
  white-space: normal;
  word-break: break-all;
}
