@import "../../assets/styles/mixin";

.to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: $border-radius-small;
  font-size: $font-size-large;
  display: inline-block;
  background-color: $color-theme;
  color: $color-background;
  line-height: 1;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 999;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
