@import "../../assets/styles/mixin";

footer.footer {
  background-color: $color-text;
  color: $color-background;
  padding: .8rem 0;

  .copyright, .rights {
    font-size: $font-size-small;
    text-align: center;
    color: $color-text-l;
    margin-bottom: .2rem;
  }
}
